body{
  margin:0px;
  background-color: #009999;
}
header {
  background-color: powderblue;
  height: 150px;
  margin:0px;
  text-align:center;
  padding-top: 30px;
}

.img {
  width:50%;
  max-height:1000px;
}
